:root {
  --color-primary: #2584ff;
  --color-secondary: #00d9ff;
  --color-accent: #ff3400;
  --color-heading: #1b0760;
  --color-body: #918ca4;
  --color-border: #ccc;
  --border-radius: 30px;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

/*------------------------------- Typography ---------------------------------*/

html {
  font-size: 62.5%;
}
body {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-size: 2.4rem;
  line-height: 1.5;
  color: var(--color-body);
}
h1,
h2,
h3 {
  color: var(--color-heading);
  margin-bottom: 1rem;
}
h1 {
  font-size: 7rem;
}
h2 {
  font-size: 4rem;
}
h3 {
  font-size: 3rem;
}
p {
  margin-top: 0;
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 1.8rem;
  }
  h1 {
    font-size: 8rem;
  }
  h2 {
    font-size: 4rem;
  }
  h3 {
    font-size: 2.4rem;
  }
}

/*------------------------------- Links ---------------------------------*/

a {
  text-decoration: none;
}
.link-arrow {
  color: var(--color-accent);
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: bold;
}
.link-arrow::after {
  content: "-->";
  margin-left: 5px;
  transition: 0.5s;
}
.link-arrow:hover::after {
  margin-left: 10px;
}
@media screen and (min-width: 1024) {
  .link-arrow {
    font-size: 1.5rem;
  }
}

/*------------------------------- Badges ---------------------------------*/

.badge {
  border-radius: 20px;
  padding: 0.5rem 2rem;
  font-weight: 600;
  white-space: nowrap;
  font-size: 2rem;
}
.badge-darkblue {
  background-color: var(--color-primary);
  color: #fff;
}
.badge-lightblue {
  background-color: var(--color-secondary);
  color: #fff;
}
.badge-small {
  font-size: 1.6rem;
  padding-left: 0.5rem 1.5rem;
}
@media screen and (min-width: 1024px) {
  .badge {
    font-size: 1.5rem;
  }
  .badge-small {
    font-size: 1.2rem;
  }
}

/*------------------------------- Lists ---------------------------------*/

.list {
  list-style: none;
  padding-left: 0;
  color: var(--color-heading);
}
.list-inline .list-item {
  display: inline-block;
  margin-right: 2rem;
}
.list-tick {
  list-style-image: url(/Images/tick.svg);
  padding-left: 3rem;
}
.list-tick .list-item {
  padding-left: 0.5rem;
  margin-bottom: 1rem;
}
@media screen and (min-width: 1024) {
  .list-tick .list-item {
    padding-left: 0;
  }
}

/*------------------------------- Icons ---------------------------------*/

.icon {
  width: 40px;
  height: 40px;
}
.icon-primary {
  fill: var(--color-primary);
}
.icon-container {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 64px;
  height: 64px;
  border-radius: 100%;
  background: #f3f9fa;
}

/*------------------------------- Buttons ---------------------------------*/

.btn {
  border-radius: 40px;
  border: 0;
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: 600;
  margin: 1rem 0;
  outline: none;
  padding: 2rem 3rem;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
}
.btn-block {
  width: 100%;
  display: inline-block;
}
.btn-primary {
  background: var(--color-primary);
  color: #fff;
}
.btn-primary:hover {
  background: #297eec;
}

.btn-secondary {
  background: var(--color-secondary);
  color: #fff;
}
.btn-secondary:hover {
  background: #11d1f3;
}

.btn-accent {
  background: var(--color-accent);
  color: #fff;
}
.btn-accent:hover {
  background: #ec3000;
}
.btn-outline {
  color: var(--color-heading);
  background: #fff;
  border: 2px solid var(--color-heading);
  transition: 0.3s;
}
.btn-outline:hover {
  color: #fff;
  background: var(--color-heading);
}
@media screen and (min-width: 1024px) {
  .btn {
    font-size: 1.5rem;
  }
}

/*------------------------------- Inputs ---------------------------------*/

.input {
  border-radius: var(--border-radius);
  border: 1px solid var(--color-border);
  color: var(--color-heading);
  outline: 0;
  padding: 1.5rem 3.5rem;
}
::placeholder {
  color: #cdcbd7;
  font-size: 2rem;
}
.search-input-group {
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius);
  display: flex;
}

.search-input-group .input {
  border: 0;
  flex-grow: 1;
  padding: 1.5rem 1rem;
}

.search-input-group .btn {
  margin: 4px;
}

@media screen and (min-width: 1024px) {
  .input {
    font-size: 1.5rem;
  }
  ::placeholder {
    font-size: 1.5rem;
  }
}

/*------------------------------- Cards ---------------------------------*/

.card {
  box-shadow: 0 0 20px 10px #f3f3f3;
  border-radius: 7px;
}
.card-header {
  color: #fff;
  border-radius: 7px 7px 0 0;
  padding: 2rem 3rem;
  position: relative;
  overflow: visible;
}
.card-primary .card-header::before {
  content: url(/Images/popular.svg);
  width: 40px;
  display: inline-block;
  position: absolute;
  top: -6px;
  right: 5%;
}
.card-body {
  padding: 0 3rem 2rem;
}
.card-body .btn {
  margin-top: 0;
}
.card-primary .card-header {
  background: var(--color-primary);
}
.card-secondary .card-header {
  background: var(--color-secondary);
}
.card-title {
  color: #fff;
  margin-top: 0;
  font-weight: 500;
  font-size: 2.4rem;
}
.card-price {
  font-size: 6rem;
}
.card-billing-cycle {
  font-size: 2.4rem;
  font-weight: 300;
  opacity: 0.8;
  margin-right: 1rem;
}
.card .badge {
  display: inline-block;
  transform: translate(0, -3px);
}
.card-description {
  letter-spacing: 1px;
  font-size: 2rem;
  font-weight: 300;
  display: block;
}
.card .list-item {
  letter-spacing: 1px;
  margin-bottom: 2rem;
}
@media screen and (min-width: 1024px) {
  .card-title {
    font-size: 1.4rem;
  }
  .card-price {
    font-size: 5rem;
  }
  .card-billing-cycle {
    font-size: 1.6rem;
  }
}

/*------------------------------- Cards ---------------------------------*/


