<section class="block">
    <div class="container">
      <header class="block-header">
        <h2 class="block-heading">Heading</h2>
        <p class="block-heading-content">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem
          voluptate autem mollitia! Asperiores alias, fugit repudiandae quos
          temporibus odio deserunt.
        </p>
      </header>
    </div>
  </section>

  
  <section class="block block-dark block-skewed-right">
    <div class="container">
      <header class="block-header">
        <h2 class="block-heading">Heading</h2>
        <p class="block-heading-content">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem
          voluptate autem mollitia! Asperiores alias, fugit repudiandae quos
          temporibus odio deserunt.
        </p>
      </header>
    </div>
  </section>