<!-- A simple card to be reused later -->
<div class="card card-primary">
  <header class="card-header">Card Title</header>
  <div class="card-body">
    <ul class="list list-tick">
      <li class="list-item">Item 1</li>
      <li class="list-item">Item 2</li>
      <li class="list-item">Item 3</li>
      <li class="list-item">Item 4</li>
    </ul>
    <button class="btn btn-outline btn-block">Some text</button>
  </div>
</div>

<!-- A fully prepared secondary card -->
<div class="card card-secondary">
  <header class="card-header">
    <h3 class="card-title">Entry</h3>
    <span class="card-price">$14</span>
    <span class="card-billing-cycle">/month</span>
    <span class="badge badge-darkblue badge-small">10% off</span>
    <span class="card-description">Easy start on the cloud</span>
  </header>
  <div class="card-body">
    <ul class="list list-tick">
      <li class="list-item">Unlimited Websites</li>
      <li class="list-item">Unlimited Bandwidth</li>
      <li class="list-item">100 GB SSD Storage</li>
      <li class="list-item">3 GB RAM</li>
    </ul>
    <button class="btn btn-outline btn-block">Some text</button>
  </div>
</div>

<!-- A fully prepared primary card with popular badge-->
<div class="card card-primary">
  <header class="card-header">
    <h3 class="card-title">Entry</h3>
    <span class="card-price">$14</span>
    <span class="card-billing-cycle">/month</span>
    <span class="badge badge-lightblue badge-small">10% off</span>
    <span class="card-description">Easy start on the cloud</span>
  </header>
  <div class="card-body">
    <ul class="list list-tick">
      <li class="list-item">Unlimited Websites</li>
      <li class="list-item">Unlimited Bandwidth</li>
      <li class="list-item">100 GB SSD Storage</li>
      <li class="list-item">3 GB RAM</li>
    </ul>
    <button class="btn btn-outline btn-block">Some text</button>
  </div>
</div>
