<div class="collapsible collapsible-expanded">
  <header class="collapsible-header">
    <h2 class="collapsible-heading">item 1</h2>
    <svg class="icon icon-white collapsible-chevron">
      <use xlink:href="Images\sprite.svg#chevron"></use>
    </svg>
  </header>
  <div class="collapsible-content">
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolor recusandae
    similique tenetur, at ipsa nihil accusantium eos tempora illo harum!
  </div>
</div>
<script src="/js/main.js"></script>
