<blockquote class="quote">
  <p class="quote-text">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit
    incidunt molestiae labore quaerat animi quos necessitatibus quasi illo sit
    delectus?
  </p>
  <footer>
    <div class="media">
      <div class="media-image">
        <svg class="icon icon-primary quote-line">
          <use xlink:href="Images\sprite.svg#line"></use>
        </svg>
      </div>
      <div class="media-body">
        <h3 class="media-title quote-author">S.Mohammad Hosseininejad</h3>
        <div class="media-description quote-author-description">
          A front-end master
        </div>
      </div>
    </div>
  </footer>
</blockquote>
