<!-- How to use -->
<svg class="icon">
  <use xlink:href="Images\sprite.svg#snap"></use>
</svg>
<svg class="icon">
  <use xlink:href="Images\sprite.svg#tick"></use>
</svg>
<svg class="icon">
  <use xlink:href="Images\sprite.svg#wordpress"></use>
</svg>
<svg class="icon">
  <use xlink:href="Images\sprite.svg#chevron"></use>
</svg>
<svg class="icon">
  <use xlink:href="Images\sprite.svg#clock"></use>
</svg>
<svg class="icon">
  <use xlink:href="Images\sprite.svg#computer"></use>
</svg>
<svg class="icon">
  <use xlink:href="Images\sprite.svg#easy"></use>
</svg>
<svg class="icon">
  <use xlink:href="Images\sprite.svg#growth"></use>
</svg>
<svg class="icon">
  <use xlink:href="Images\sprite.svg#line"></use>
</svg>
<svg class="icon">
  <use xlink:href="Images\sprite.svg#menu"></use>
</svg>
<svg class="icon">
  <use xlink:href="Images\sprite.svg#quotes"></use>
</svg>
<svg class="icon">
  <use xlink:href="Images\sprite.svg#search"></use>
</svg>
<svg class="icon">
  <use xlink:href="Images\sprite.svg#settings"></use>
</svg>

<!-- Examples -->
<svg class="icon icon-primary">
  <use xlink:href="Images\sprite.svg#wordpress"></use>
</svg>

<span class="icon-container">
  <svg class="icon icon-primary">
    <use xlink:href="Images\sprite.svg#wordpress"></use>
  </svg>
</span>
