<section class="block container">
  <header class="block-header">
    <h2 class="block-heading">what our customers are saying</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem voluptate
      autem mollitia! Asperiores alias, fugit repudiandae quos temporibus odio
      deserunt.
    </p>
  </header>
  <div class="card testimonial">
    <div class="grid grid--cols-2">
      <div class="testimonial-image">
        <img src="/Images/testimonial.jpg" alt="A happy, smiling customer" />
        <span class="icon-container icon-container-accent">
          <svg class="icon icon-small icon-white">
            <use xlink:href="Images\sprite.svg#quotes"></use>
          </svg>
        </span>
      </div>
      <blockquote class="quote testimonial-quote">
        <p class="quote-text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit
          incidunt molestiae labore quaerat animi quos necessitatibus quasi illo
          sit delectus?
        </p>
        <footer>
          <div class="media">
            <div class="media-image">
              <svg class="icon icon-primary quote-line">
                <use xlink:href="Images\sprite.svg#line"></use>
              </svg>
            </div>
            <div class="media-body">
              <h3 class="media-title quote-author">S.Mohammad Hosseininejad</h3>
              <div class="media-description quote-author-description">
                A front-end master
              </div>
            </div>
          </div>
        </footer>
      </blockquote>
    </div>
  </div>
</section>
